.article {
  flex: 1 1 50%;
  max-width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1.5rem 2rem;
  background-color: rgba(155, 155, 155, 0.6);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  margin: 0; /* retire le centrage */
  box-sizing: border-box;
}

.article-title {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  color: #0f0f0f;
}

.article-meta {
  font-size: 0.9rem;
  color: #383838;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.article-content {
  font-size: 1rem;
  line-height: 1.3;
  white-space: pre-line;
}
