.settings-overlay {
  position: absolute;
  left: 60px;
  top: 0;
  width: 200px;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  color: black;
  padding: 1rem;
  z-index: 100;
}